In [1]:
import json

In [2]:
import requests

In [3]:
import pandas as pd

In [4]:
BASE_URL = "https://rt.data.gov.hk/v1/transport/mtr/getSchedule.php"

In [5]:
LINES_PAIR = [
    'TML-TAW',
    'EAL-TAW'
]
result = []

In [6]:
for pair in LINES_PAIR:
    line, sta = pair.split('-')
    params = dict(
        line = line,
        sta = sta
    )
    resp = requests.get(BASE_URL, params = params)
    if resp.status_code == 200:
        resp_json = resp.json()
        data = resp_json.get('data')
        for key, value in data.items():
            result.append(value)
    else:
        print('Error reading data')

In [7]:
df = pd.DataFrame(result)

In [8]:
TML = pd.DataFrame(df.iloc[0,-2])

In [9]:
EAL = pd.DataFrame(df.iloc[1,-1])

In [10]:
stack = pd.concat([TML,EAL], axis=0).sort_values(by = ['time']).drop(['valid','source','route','timeType'],axis = 1).rename(columns = {
    "seq": "Sequence",
    "dest": "Destination",
    "plat":"Platform",
    "time": "ETA",
    "ttnt":"Minutes to next train"})
stack

  Sequence Destination Platform                  ETA Minutes to next train
0        1         TUM        3  2023-07-15 17:45:40                     0
0        1         ADM        2  2023-07-15 17:46:37                     1
1        2         ADM        2  2023-07-15 17:49:37                     4
1        2         TUM        3  2023-07-15 17:49:40                     4
2        3         ADM        2  2023-07-15 17:53:37                     8
2        3         TUM        3  2023-07-15 17:54:40                     9
3        4         ADM        2  2023-07-15 17:57:37                    12
3        4         TUM        3  2023-07-15 17:59:40                    14